<!DOCTYPE html>
<html>
<head>
  <title>Vigor foods</title>
  <link rel="stylesheet" href="../style.css">
  
</head>
<body>
<nav>
  <section class="menu-bar">
    <img class="logo"src="../vigor_logo.png">
    <div class="link"><a href="/products/low">Low Stock</a></div>
    <div class="link"><a href="/products/new">Add new product</a></div>
    <div class="link"><a href="/manufacturers/new">Add new manufacturer</a></div>
    <div class="link"><a href="/manufacturers">Manufacturers</a></div>
    <div class="link"><a href="/products">Products</a></div>
  </section>
</nav>
  <%= yield %>
  <footer class="footer">
    <div>Vigor Foods LTD. Edinburgh, Scotland, tel. 0123 456 789</div>
  </footer>
</body>
</html>