<!DOCTYPE html>
<html>
<head>
  <title>Vigor foods</title>
  <link rel="stylesheet" href="../style.css">
  <meta name=”viewport” content=”width=device-width, initial-scale=1″>
  
</head>
<body>
<nav>
  <section class="menu-bar">
    <div class="logo"><img src="../vigor_logo.png"></div>
      <a href="/products/low"><div class="menu-link"><p>Low Stock</p></div></a>
      <a href="/products/new"><div class="menu-link"><p>Add new product</p></div></a>
      <a href="/manufacturers/new"><div class="menu-link"><p>Add new manufacturer</p></div></a>
      <a href="/manufacturers"><div class="menu-link"><p>Manufacturers</p></div></a>
      <a href="/products"><div class="menu-link"><p>Products</p></div></a>
  </section>
</nav>
  <%= yield %>
  <footer class="footer">
    <div>Vigor Foods LTD. Edinburgh, Scotland, tel. 0123 456 789</div>
  </footer>
</body>
</html>