<!DOCTYPE html>
<html>
<head>
  <title>Vigor foods</title>
  <link rel="stylesheet" href="../style.css">
  <meta name=”viewport” content=”width=device-width, initial-scale=1″>
  
</head>
<body>
<nav>
  <section class="menu-bar">
    <img class="logo"src="../vigor_logo.png">
    <div class="menu-wrapper">
      <a href="/products/low"><div class="menu-link">Low Stock</div></a>
      <a href="/products/new"><div class="menu-link">Add new product</div></a>
      <a href="/manufacturers/new"><div class="menu-link">Add new manufacturer</div></a>
      <a href="/manufacturers"><div class="menu-link">Manufacturers</div></a>
      <a href="/products"><div class="menu-link">Products</div></a>
    </div>
  </section>
</nav>
  <%= yield %>
  <footer class="footer">
    <div>Vigor Foods LTD. Edinburgh, Scotland, tel. 0123 456 789</div>
  </footer>
</body>
</html>