<!DOCTYPE html>
<html>
<head>
  <title>Vigor foods</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
<nav>
  <section class="menu-bar">
    <img src="../vigor_logo.png">
    <a href="/products/low">Low Stock</a>
    <a href="/products/new">Add new product</a>
    <a href="/manufacturers/new">Add new manufacturer</a>
    <a href="/manufacturers">Manufacturers</a>
    <a href="/products">Products</a>
  </section>
</nav>
  <%= yield %>
</body>
</html>