<!DOCTYPE html>
<html>
<head>
  <title>Vigor foods</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
<nav>
  <a href="/products/low-stock">Low Stock</a>
  <a href="/products/new">Add new product</a>
  <a href="/products/manufacturers">Add new manufacturer</a>
  <a href="/products/manufacturers">Manufacturers</a>
  <a href="/products">Products</a>
</nav>
  <%= yield %>
</body>
</html>