<!DOCTYPE html>
<html>
<head>
  <title>Vigor foods</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
<nav>
  <ul>
    <li>
      <a href="/products">All products</a>
    </li>
    <li>
    
    </li>
  </ul>
</nav>
  <%= yield %>
</body>
</html>