<form method="post" action="/products">
  <table>
    <th>
      <td>
        <label for="product-name-field"></label>
        <input
        type="text"
        name="name"
        id="product-name-field"
        value="Enter product name"
        />
      </td>
    </th>
    <th>
      <td>
        <label for="category-field"></label>
          <select name="category" id="category-field">
            <option value="flour">Flour</option>
            <option value="Nuts">Nuts</option>
            <option value="Oil">Oil</option>
            <option value="Fruit">Fruit</option>
            <option value="Herbs">Herbs</option>
            <option value="Vegetable">Vegetable</option>
          </select>
        </td>
    </th>
    <th>
      <td>
        <label for="stock_level-field"></label>
        <input
        type="number"
        name="stock_level"
        id="stock_level-field"
        value="Enter number"
        />
      </td>
    </th>
    <th>
      <td>
        <label for="manufacturer-field"></label>
          <select name="manufacturer" id="manufacturer-field">
            <option selected disabled>Select from the list</option>
            <% @manufacturers.each do |manufacturer| %>
            <option value=<%= manufacturer.name %> ><%= manufacturer.name %></option>
            <% end %>
          </select>
        </td>
    </th>
    
  </table>
</form>

