body {
  background-color: rgb(241, 242, 235);
}

#container > div.system {
  display: flex;
  flex-direction: column;
  align-items: space-around;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bold;
  text-align: center;
}



#container > div.system > div.name {
  width: 400px;
  height: 50px;
  padding: 20px;
  background-color: rgb(209, 59, 13)
}

#container > div.system > div.prompt {
  width: 400px;
  height: 50px;
  padding: 20px;
  background-color: rgb(156, 113, 173)
}

.menu-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.menu-bar > .link {
  padding: 55px;
  align-items: center;
  background-color: rgb(216, 218, 211);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.stock {
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.table th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
.table th, td {
  padding: 8px;
}
.table th {
  text-align: center;
}
.table td {
  text-align: left;
}

.low {
  background-color: orangered;
}

.nostock {
  background-color: red;
}

.footer {
  display: flex;
  justify-content: center;
  width:100%;
  height: 5mm;
  position:fixed;
  bottom:0;
  background-color: #DDE8DD
  
}
/* td, th {
  border: 1px solid #999;
  padding: 0.5rem;
} */


