.table th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
.table th, td {
  padding: 8px;
}
.table th {
  text-align: center;
}
.table td {
  text-align: left;
}


.low {
  background-color: orangered;
}

.center {
  text-align: center;
}

.nostock {
  background-color: red;
}

/* td, th {
  border: 1px solid #999;
  padding: 0.5rem;
} */


