<link rel="stylesheet" href="../style.css">
<h2 class="stock">New manufacturer form</h2>
<form method="post" action="/manufacturers">
  <table class="table" style="width:100%">
    <td>
      <label for="manufacturer-name-field">Name</label>
      <input
      type="text" 
      name="name"
      id="manufacturer-name-field"
      value=""
      required
      />
    </td>
    <td>
      <label for="category-field">Category</label>
        <select name="category_id" id="category-field" required>
          <option selected disabled>Select category</option>
          <% @categories.each do |category| %>
          <option value=<%= category.id %>><%= category.name%></option>
          <% end %>
        </select>
    </td>
    <td>
      <label for="contact-details-field">Contact details</label>
      <input
      type="text"
      name="contact_details"
      id="contact-details-field"
      value=""
      required
      />
    </td>
  </table>
  <div class="save-button">
    <input type="submit" value="Save">
  </div>
</form>