<link rel="stylesheet" href="/style.css">
<p>Name: <%= @manufacturer.name %></p>
<p>Category: <%= @manufacturer.category %></p>
<p>Contact details: <%= @manufacturer.contact_details %></p>
<p><a href="/manufacturers/<%= @manufacturer.id %>/edit">Edit manufacturer</a></p>
